.profile {
  max-width: calc(100% - 400px);
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media screen and (max-width: 1279px) {
  .profile {
    max-width: calc(100% - 400px);
  }
}

@media screen and (max-width: 1023px) {
  .profile {
    max-width: calc(100% - 164px);
  }
}

@media screen and (max-width: 767px) {
  .profile {
    max-width: calc(100% - 38px);
    flex-direction: column;
    gap: 36px;
    justify-content: start;
  }
}

@media screen and (min-width: 1280px){
  .profile {
    max-width: 880px;
  }
}
