.profile__avatar {
  background-image: url(../../../vendor/avatar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__avatar {
    margin: 0 auto 0;
  }
}
